:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

body,
html {
  height: 100%;
}

canvas {
  height: 100%;
  width: 100%;
  outline: none;

  background: rgb(32, 146, 177);
  background: linear-gradient(
    180deg, /* Changed from 0deg to 180deg */
    rgb(12, 165, 196) 0%,
    rgba(55, 175, 177, 0.849) 30%,
    rgba(44, 90, 128, 0.885) 80%,
    rgb(46, 64, 99)
  );
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
